@{Layout = "Views/Shared/_Layout.cshtml";}
<h1>Please enter your name</h1>
<form action="/customers/new" method="post">
  <label for="customer-name">Customer name:</label>
  <input required id="customer-name" name="customer-name" type="text">
  <button type="submit">Add new customer</button>
</form>
<a href="/" class="btn btn-default">Back home</a>
