<h2>Your order will cost $10</h2>

<h3>Please enter your credit card information below:</h3>

<p>
  form goes here
</p>

<form action="/customer/purchase" method="get">
  <button type="submit" name="button">Buy Ticket</button>
</form>
