@{Layout = "Views/Shared/_Layout.cshtml";}
<h1>Thank you, @Model.GetName()!</h1>

<h2>Would you like to place an order?</h2>

<a href="/customer/select/user/@Model.GetId()" class="btn btn-default">Yes</a>
<a href="/" class="btn btn-default">No thanks</a>
