@{Layout = "Views/Shared/_Layout.cshtml";}
<h1>Add a new movie</h1>
<form action="/movies/new" method="post">
  <label for="movie-title">Movie title:</label>
  <input id="movie-title" name="movie-title" type="text">
  <label for="movie-rating">Movie Rating</label>
  <input id="movie-rating" name="movie-rating" type="text">
  <button type="submit">Add new movie</button>
</form>

<h2>Movie Specs:</h2>
@if (Model.Count != 0)
{
  <ul>
    @foreach (var movie in Model)
    {
      <li><a href='/movie_to_theater/@movie.GetId()'>@movie.GetTitle()</a>| <a href="/movie/edit/@movie.GetId()">Edit</a>| <a href="movie/delete/@movie.GetId()">Delete</a></li>
    }
  </ul>
}

<p><a href="/theaters/new">Edit Theaters</a></p>
<p><a href="/admin">Return to Admin Index</a></p>
<p><a href="/">Home</a></p>
